<footer class="sweet-shop-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>About Us</h3>
          <p class="about-cls">We are a family-owned sweet shop dedicated to crafting the finest sweets and treats.</p>
        </div>
        <div class="col-md-4">
          <h3>Our Sweets</h3>
          <ul>
            <li><a href="#">Candies</a></li>
            <li><a href="#">Chocolates</a></li>
            <li><a href="#">Pastries</a></li>
            <!-- Add more sweet categories -->
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <address class="address-cls">
            123 Sweet Street<br>
            Sugarville, CA 12345<br>
            Phone: (123) 456-7890<br>
            Email: info@sweetshop.com
          </address>
        </div>
      </div>
    </div>
  </footer>
  