<div class="container-fluid">
    <!-- Header -->
    <div class="row">
      <div class="col">
        <app-header></app-header>
      </div>
    </div>
  
    <!-- Content -->
    <div class="row">
      <div class="col-cls">
        <!-- Sidebar/Menu -->
        <app-menu></app-menu>
      </div>
      <div class="col-md-11">
        <!-- Main Content -->
        <router-outlet></router-outlet> <!-- Placeholder for dynamically loaded components -->
      </div>
    </div>
  
    <!-- Footer -->
    <div class="row">
      <div class="col">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  