<nav class="col-md-6 d-none d-md-block bg-light sidebar nav-menu">
  <div class="position-sticky">
    <ul class="nav flex-column nav-cls">
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/sweet/home">
          Home
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/sweet/about">
          About
        </a>
      </li>
      <!-- Add more navigation links with routerLinkActive -->
    </ul>
  </div>
</nav>
