
.nav-menu {
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
    width: calc(100vw - 1253px);
    height:  calc(100vh - 205px);
  }
.active-link {
    background-color: yellow;
  }
  .nav-cls{
    color: black;
  }
  .nav-link a{
    color: black;
  }
  .active-link a{
    color: black;
  }
  
  
  