<header class="navbar navbar-expand-lg navbar-light bg-light header-with-shadow">
    <div class="container">
      <!-- Logo/Icon on the Left -->
      <div class="navbar-brand">
        <img src="../../assets/547.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      </div>
  
      <!-- User Information on the Right -->
      <div class="ml-auto">
        <div class="d-flex align-items-center">
          <div class="user-icon">
            <img src="../../assets/icons8-user-30.png" alt="User Icon" width="30" height="30">
          </div>
          <div class="user-name">
            {{ userName }}
          </div>
        </div>
      </div>
    </div>
  </header>
  